@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

* {
    font-family: 'Montserrat', sans-serif;;
}

body {
    background-color: #FFF1AF;
    color: #66806A
}
/*
Estilos da página index.html
*/
.center {
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: #B4C6A6;
    font-size: 20px;
}

#menu li a:hover {
    color: #FFC286;
}

.p-30 {
    padding: 30px;
}

.p-100 {
    padding: 100px;
}

.foto {
    padding-right: 100px;
    width: 200px;
    height: 200px;
}

.tm-redes {
    width: 25px;
    height: 25px;
}
.mb-50 {
    margin-bottom: 30px;
}
/*
Estilos da página contato.html
*/
.ml-50 {
    margin-left: 50px;
}

/*
Estilos da página listafilmes.html
*/
.filmes {
    display:block;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}